**PRİNT**

---

In [ ]:
print("hello world")

hello world

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import math

In [ ]:
math.log(36)

3.58351893845611

In [ ]:
math.pi

3.141592653589793

In [ ]:
pi_value = math.pi
print(pi_value)

3.141592653589793

In [ ]:
math.cos(pi_value)

-1.0

In [ ]:
import math as mt

In [ ]:
mt.log(36)

3.58351893845611

In [ ]:
from statistics import mean, stdev
mean([22,45,30,156])

63.25

In [ ]:
print("Hello","My")
print("World")

Hello My
World

In [ ]:
print("merhaba","dünya", sep="-", end="!")

merhaba-dünya!

In [ ]:
print("Hello", end="\n\n\n")
print("World")

Hello


World

In [ ]:
print("Default","Seperator", sep=" ")

Default Seperator

In [ ]:
print("Hello","world", sep="!")

Hello!world

In [ ]:
print("Hello")
print("World")

Hello
World

In [ ]:
print("Hello", end="\n")
print("World")

Hello
World

In [ ]:
print("Hello", end=" ")
print("World", end="!")

Hello World!

In [ ]:
print("Ali","Ata","Bak", sep="!")

Ali!Ata!Bak

**VARİABLES**

---

In [ ]:
my_variable_integer = 100       #An integer assignment
my_variable_float = 1000.0      # A floating point
my_variable_string = "ZMeryem"  # A string

In [ ]:
print(my_variable_integer)
print(my_variable_float)
print(my_variable_string)

100
1000.0
ZMeryem

In [ ]:
# Example 1
x = 10
y = 12.5
z = x*y
print(z)

125.0

In [ ]:
# Example 2
number_of_students = 30
number_of_teachers = 12
number_of_students_and_teachers = number_of_students + number_of_teachers
print(number_of_students_and_teachers)

42

In [ ]:
# change this code
mystring = "LovePython"
myfloat = 6.0
myint = 4

In [ ]:
my_name = "Meryem"
print("Let's talk about %s." %my_name)

my_height = 1.62
print("She's", my_height, "meters tall.")

my_weight = 48
print("She's %i kg heavy." % my_weight)

Let's talk about Meryem.
She's 1.62 meters tall.
She's 48 kg heavy.

In [ ]:
print(f"{my_name}'s {my_weight} kg heavy.")

Meryem's 48 kg heavy.

**LİSTS**

---

In [ ]:
numbers = [1,2,3,4]
mixed = [1,2.5,"hello", True]
empty_list = []

In [ ]:
my_list = ['Monday', 'Tuesday', 'Wednesday', 8, 9]  # creating list but not common

In [ ]:
my_list2 = ['Monday','Tuesday','Wednesday']
print(my_list2[0])

Monday

In [ ]:
# Declare a list of primer number
primes = [2,3,5,7,11]

In [ ]:
# check the type of the variable
type(primes)

list

In [ ]:
# See the content of a list
print(primes)

[2, 3, 5, 7, 11]

In [ ]:
# check the lenght of a list
len(primes)

5

In [ ]:
# Access  one element
primes[4]

11

In [ ]:
# Modify an element
primes[4] = 13

In [ ]:
primes

[2, 3, 5, 7, 13]

In [ ]:
# Add an element at the end of the list
primes.append(17)
primes

[2, 3, 5, 7, 13, 17]

In [ ]:
# Deleting an element
del primes[5]
primes

[2, 3, 5, 7, 13]

In [ ]:
# !WRONG! COPY
primes_copy = primes   # Create a proper copy
primes_copy.append(19) # Call append method with parentheses

print('Primes:', primes, 'Primes Copy:', primes_copy)

Primes: [2, 3, 5, 7, 13, 19] Primes Copy: [2, 3, 5, 7, 13, 19]

In [ ]:
# RİGHT COPY
primes_copy = primes.copy()
primes_copy.append(23)

print('Primes:', primes, 'Primes Copy:', primes_copy)

Primes: [2, 3, 5, 7, 13, 19] Primes Copy: [2, 3, 5, 7, 13, 19, 23]

In [ ]:
my_list = ['red', 'blue', 'yellow']
my_list.insert(2, 'black')  # insert 'black' at index 2
my_list

['red', 'blue', 'black', 'yellow']

In [ ]:
new_list = ['gray','orange']
my_list.extend(new_list)
my_list

['red', 'blue', 'black', 'yellow', 'gray', 'orange', 'gray', 'orange']

In [ ]:
x = [1,2,5]
sum(x)

8

In [ ]:
print(min(x), max(x))

1 5

In [ ]:
a = [*range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**STRİNGS**

---

In [ ]:
m = "We Love Python!"
type(m)

str

In [ ]:
len(m)

15

In [ ]:
# Example: Split the variable a to 3 words
print(m.split(' '))

['We', 'Love', 'Python!']

In [ ]:
print(m.split('o'))

['We L', 've Pyth', 'n!']

In [ ]:
#Example: Append a string to another string
a = "We Love Python!"
b = "Python Loves Us!"
c = a + " & " + b
print(c)

We Love Python! & Python Loves Us!

In [ ]:
len(c)

34





**INDEXING**

In [ ]:
print(a[14])

!

In [ ]:
print(a[-1])  # Negative Indexing

!

In [ ]:
# Example: Print only "Love" part of the variable a
a = "We Love Python!"
print(a[3:7])   # print from 3 to 7

Love

In [ ]:
#Example: Slice the variable a from index 3 to the end
print(a[3:])

Love Python!

In [ ]:
#Example: Slice the variable a from the beginning till the index 7
print(a[:7])

We Love

In [ ]:
#Example: Access every third character
print(a[0:14:3])  # a[beginning: end: step]

WLeyo

**DİCTİONARİES**

---

In [ ]:
person = {"name":"Alice", "age":"30", "city":"Istanbul"}

In [ ]:
Movie = {
    "name": "Twin Peaks",
    "director": "David Lynch",
    "year": "1990"
}

In [ ]:
print(person.keys())

dict_keys(['name', 'age', 'city'])

In [ ]:
print(person.items())

dict_items([('name', 'Alice'), ('age', '30'), ('city', 'Istanbul')])

In [ ]:
# keys(): provides all the keys in the dictionary
print(Movie.keys())
# items(): returns all tuples (key, value) in the dictionary
print(Movie.items())

dict_keys(['name', 'director', 'year'])
dict_items([('name', 'Twin Peaks'), ('director', 'David Lynch'), ('year', '1990')])

In [ ]:
Movie.get("name")

'Twin Peaks'

In [ ]:
Movie.get("year")

1990

In [ ]:
Movie["year"] = 1992

In [ ]:
print(Movie)

{'name': 'Twin Peaks', 'director': 'David Lynch', 'year': 1992}

In [ ]:
Movie.update({"genre": "mystery/drama/horror"})
Movie

{'name': 'Twin Peaks',
 'director': 'David Lynch',
 'year': 1992,
 'genre': 'mystery/drama/horror'}

In [ ]:
Movie.pop("genre")
Movie

{'name': 'Twin Peaks', 'director': 'David Lynch', 'year': 1992}

**SETS** (küme) and **TUPLES** (demet)

---




*   Tuple: Ordered and Unchangable    
*   Set: Unordered and Not allow duplicate

In [ ]:
sample_set = set((3,4,5,6))
sample_set

{3, 4, 5, 6}

In [ ]:
type(örnek_küme)

set

In [ ]:
x = [0,3,7,3,7,4,4,5]
len(x)

8

In [ ]:
x[1]

3

In [ ]:
x[-1]

5

In [ ]:
x = set(x)
x

{0, 3, 4, 5, 7}

In [ ]:
string = "Learning Python is very easy!"

print(list(string))
print(set(string)) #The order doesn't matter; they pick randomly from the bag, not allow duplicate

['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'v', 'e', 'r', 'y', ' ', 'e', 'a', 's', 'y', '!']
{'o', 's', 'n', '!', 'h', 'a', 'y', 'i', 't', 'g', 'L', 'e', 'P', 'v', 'r', ' '}

In [ ]:
# Static objects are useful in multiple loops.
thistuple = ("apple", "banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
print(len(thistuple))

5

**OPERATORS**

---

In [ ]:
#  ** : exponentiation
#  // : base division (rounds down the result)

x = 10
y = (x//3)*3+(x%3)
y

10

In [ ]:
# not    a=false -> a=true
# and    if all operands are true, the result is TRUE
# or     if at least one operand is true, the result is TRUE

In [ ]:
# Bring the marks of students who scored below 50
yeni_data = data[data["vize"] < 50]

In [ ]:
a = 6
b = 7
print(1, a ==6)
print(2, a == 7)
print(3, a == 6 and b == 7)
print(4, a == 7 and b == 7)
print(5, not a == 7 and b == 7)
print(6, a == 7 or b == 7)
print(7, a == 7 or b == 6)
print(8, not (a == 7 and b == 6))
print(9, not a == 7 and b == 6)

1 True
2 False
3 True
4 False
5 True
6 True
7 False
8 True
9 False

**CONDİTİONAL STATEMENTS AND LOOPS**

---

In [ ]:
r = 2.4
if r > 2.4:
  bilgi = "daha büyük"
elif r == 2.4:
  bilgi = "eşit"
else:
  bilgi = "daha küçük"
print('vaziyet:', bilgi)

vaziyet: eşit

In [ ]:
# FOR LOOP
x = [1,2,3]

for i in x:
  print(i)

1
2
3

In [ ]:
for i in range(1,10,1):
  print(i, "'in karesi :", i**2, "dir.")

1 'in karesi : 1 dir.
2 'in karesi : 4 dir.
3 'in karesi : 9 dir.
4 'in karesi : 16 dir.
5 'in karesi : 25 dir.
6 'in karesi : 36 dir.
7 'in karesi : 49 dir.
8 'in karesi : 64 dir.
9 'in karesi : 81 dir.

In [ ]:
for i in range(10, 0, -1):
  print(i, "'in karesi: ", i**2, "dir.")

10 'in karesi:  100 dir.
9 'in karesi:  81 dir.
8 'in karesi:  64 dir.
7 'in karesi:  49 dir.
6 'in karesi:  36 dir.
5 'in karesi:  25 dir.
4 'in karesi:  16 dir.
3 'in karesi:  9 dir.
2 'in karesi:  4 dir.
1 'in karesi:  1 dir.

In [ ]:
for i in range(10):
  print(i, "'in karesi: ", i*i, "dir.")

0 'in karesi:  0 dir.
1 'in karesi:  1 dir.
2 'in karesi:  4 dir.
3 'in karesi:  9 dir.
4 'in karesi:  16 dir.
5 'in karesi:  25 dir.
6 'in karesi:  36 dir.
7 'in karesi:  49 dir.
8 'in karesi:  64 dir.
9 'in karesi:  81 dir.

In [ ]:
my_list = [0,3,5,4,2,7]

for i in range(len(my_list)):
  j = my_list[i]
  print(j, "'nin karesi: ", j**2, "dir.")

0 'nin karesi:  0 dir.
3 'nin karesi:  9 dir.
5 'nin karesi:  25 dir.
4 'nin karesi:  16 dir.
2 'nin karesi:  4 dir.
7 'nin karesi:  49 dir.

In [ ]:
# Write a Python programme that calculates the number of even and odd numbers in a sequence.

sample_list = [2,3,4,5,8,2,9]

even_number = []
odd_number = []

for i in sample_list:
  if i % 2 == 0:
    even_number.append(i)
  elif i % 2 == 1:
    odd_number.append(i)

print(len(even_number), len(odd_number))

4 3

In [ ]:
# Write a Python programme that finds the Fibonacci sequence between 0 and 50.
fib = [0,1]
for i in range(48):               # this code prints first 50 Fibonacci elements
  new_element = fib[-1] + fib[-2]
  fib.append(new_element)
len(fib)

50

In [ ]:
# in this code part, we see the between 0-50 elements of Fibonacci sequence
fib = [0,1]

for i in range(100000):
  new_element = fib[-1] + fib[-2]
  if new_element > 50:
    break
  fib.append(new_element)
fib

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# Write a Python programme that calculates the sum of all items in a list.
x = [1,3,15,6]
toplam = 0
for i in x:
  toplam = toplam + i

print(toplam)
# we used the word 'toplam' here, because 'sum' is a Python Keyword, so we cannot use it

25

In [ ]:
# Write a Python programme that finds the largest and smallest numbers in a list.
minimum = x[0]      # min is a Python Keyword
for i in x:
  if i < minimum:
    minimum = i
print(minimum)

1

In [ ]:
# Create a list consisting of integers less than 10 and name it a.
a = []
for i in range(10):
  a.append(i)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# WHİLE DÖNGÜSÜ
i = 0
while i < 5:
  i = i + 1
  print(i * 10)

10
20
30
40
50

In [ ]:
# INPUTS

my_input = input()        # by default, it will always returns string type for now
type(my_input)

66

str

In [ ]:
print("What's your name?")
name = input()
print("How old are you?")
age = float(input())
print("How tall are you?")
height = float(input())
print("How much do you weigh?")
weigh = float(input())

print(f"So, dear {name}, you are {age} years old, you are {height} tall, and you also {weigh} kilograms.")

What's your name?
Said
How old are you?
18
How tall are you?
1.78
How much do you weigh?
70
So, dear Said, you are 18.0 years old, you are 1.78 tall, and you also 70.0 kilograms.

**FUNCTİONS**

---

In [ ]:
def greeting(name):
  output = 'Merhaba' + name
  return output
print(greeting(' Hümeyra'))

Merhaba Hümeyra

In [ ]:
def greeting(name):
  """It is a function used to greet a user."""
  message = "Dünyanın en iyi kardeşi " + name
  message = message + " Hoşgeldin, ne iyi ettin geldin!"
  return message
print(greeting("Canım kardeşim"))
# as you can see in this code block, my sister helped me :)

Dünyanın en iyi kardeşi Canım kardeşim Hoşgeldin, ne iyi ettin geldin!

In [ ]:
# Write a Python function that finds the largest of three numbers.
def maxim(a,b,c):
  return max(a,b,c)

print(maxim(3,18,9))

18

In [ ]:
def maximum(a,b,c):
  if a > b and a > c:
    return a
  elif b > a and b > c:
    return b
  else:
    return c
print(maximum(3,17,8))

17

In [ ]:
# Write a Python function that calculates the product of all numbers in a list.
sample_list = [8,2,3,-1,7]
def çarpma(my_list):
  çarpan = 1
  for i in my_list:
    çarpan = çarpan * i
  return çarpan
print(çarpma(sample_list))

-336

In [ ]:
# Write a Python function that takes a list and returns a new list consisting of
#    its unique elements.

sample_list = [1,1,3,3,3,3,4,4,4,5,7,7,7]
# Expected output:
unique_list = [1,3,4,5,7]

In [ ]:
# First solutions:
def making_unique(one_list):
  return list(set(one_list))
print(making_unique(sample_list))

[1, 3, 4, 5, 7]

In [ ]:
# Second solutions:
def matchless(x):
  copy_list = x.copy()   # copy the list (we will change it dynamically)
  unique_list = []       # list that will hold the result

  for element in x:                    # for each element in x
    if copy_list.count(element) > 1:   # if the element appears more than once
      copy_list.remove(element)        # delete one
    else:                              # if the element appears only once
      unique_list.append(element)      # add to result
  return unique_list
print(matchless(unique_list))

[1, 3, 4, 5, 7]

In [ ]:
# Write a Python function that takes a number parameter
#     and checks whether the number is prime.

def is_prime(x):
  prime = True
  for i in range(2,x):
    if x % i == 0:
      prime = False
  return prime

is_prime(23)

True

In [ ]:
is_prime(8)

False

In [ ]:
def isPrime(x):
  isPrime = True
  if type(x) == float or x <= 1:
    isPrime = "Undefined"
  else:
    for i in range(2,x):
      if x % i == 0:
        isPrime = False
        break
  return isPrime

print(isPrime(5.3))

Undefined

In [ ]:
print(isPrime(17))

True

In [ ]:
print(isPrime(8))

False

**FİLES**

---

In [ ]:
# Define the file name
filename = 'example.txt'
# Create and open the file in write mode.    “w” = write mode.
f = open(filename, 'w')

In [ ]:
f.write("6 words story: \n")
f.write("For sale: baby shoes, never worn.")

33

In [ ]:
f.close()

In [ ]:
"""When we run the above example, a file named ‘example.txt’ is created.
This file contains two lines of text:

First line: 6 words story
Second line: 'For sale: baby shoes, never worn.'"""

In [ ]:
# Now, let's read this file we just created:
filename = 'example.txt'           # Define the file name
f = open(filename, 'r')            # Open the file in read mode.  "r" = read mode

data = f.read()                    # Read the contents of the file
f.close()                          # Close the file

print(data)

6 words story:
For sale: baby shoes, never worn.

In [ ]:
len(data)

49

In [ ]:
data.splitlines()

['6 words story: ', 'For sale: baby shoes, never worn.']

In [ ]:
# Count the number of words in the second line (are there really 6 words?)
second_line = data.splitlines()[1]
print(second_line)

words_in_the_second_line = second_line.split(' ')
print(words_in_the_second_line)

print(len(words_in_the_second_line))   # print the number of words

For sale: baby shoes, never worn.
['For', 'sale:', 'baby', 'shoes,', 'never', 'worn.']
6

---
***We have reached the end of this section.***











***I hope, I looking forward to seeing you in the next section, my friend    :)***